<div *ngIf="cursos?.length > 0; else noCursos" >
  <ul *ngFor="let curso of cursos; trackBy: trackByFn"  class="collection">
    <li class="collection-item">
      <!--usamos "routerLink" porque estamos a usar o sistema de rotas-->
      <a routerLink="#" class="secondary-content">
        <i *ngIf="editState == false" (click)="editCurso($event, curso)"  class="material-icons">format_align_left</i>
        <i *ngIf="editState && cursoToEdit.id == curso.id" (click)="clearState()"  class="material-icons">close</i>
      </a>
      <h5>
        <strong>{{ curso.name }}</strong>
      </h5>
      <br>
      <blockquote>{{ curso.description }}</blockquote>
      <br>
      <span class="my_tag amber"><strong>Price: </strong>{{ curso.price | currency:'EUR':code:'1.2-2' }}</span>
      <span class="my_tag amber"><strong>Language: </strong>{{ curso.language }}</span>
      <span class="my_tag amber"><strong>Former: </strong>{{ curso.former }}</span>
      <span class="my_tag amber"><strong>Technology: </strong>{{ curso.technology }}</span>

      <hr>
      <!-- Sub-form para editar post-->
      <div *ngIf="editState && cursoToEdit.id == curso.id"  class="container-updateCurso">

        <form (ngSubmit)="onUpdateCurso(curso)" class="col s12">

          <div class="row">

            <div class="input-field col s12">
              <input [(ngModel)]="curso.name" #name="ngModel" type="text" name="name" id="name">
              <label class="active">Name</label>
            </div>

            <div class="input-field col s12">
                <!-- <input [(ngModel)]="curso.description" #description="ngModel" type="text" name="description" id="description"> -->
                <textarea [(ngModel)]="curso.description" #description="ngModel" id="description" class="materialize-textarea" name="description" placeholder="Description von Kurs"></textarea>
                <label class="active">Description</label>
            </div>

            <div class="input-field col s12">
                <input [(ngModel)]="curso.former" #former="ngModel" type="text" name="former" id="former">
                <label class="active">Former</label>
            </div>

            <div class="input-field col s12">
                <input [(ngModel)]="curso.price" #price="ngModel" type="text" name="price" id="price">
                <label class="active">Price</label>
            </div>

            <div class="input-field col s12">
                <input [(ngModel)]="curso.language" #language="ngModel" type="text" name="language" id="language">
                <label class="active">Language</label>
            </div>

            <div class="input-field col s12">
                <input [(ngModel)]="curso.technology" #technology="ngModel" type="text" name="technology" id="technology">
                <label class="active">Technology</label>
            </div>

            <button (click)="deleteCurso($event, curso)"  class="btn red right">Delete</button>
            <button type="submit" class="btn orange">Update</button>

          </div>

        </form>

      </div>
    </li>
  </ul>
</div>

<!-- novo template para mostrar -->
<ng-template #noCursos>
  <hr>
  <h5>kein Kurs</h5>
</ng-template>
