<div *ngIf="cursos?.length > 0; else noCursos" >
  <ul *ngFor="let curso of cursos; trackBy: trackByFn"  class="collection">
    <li class="collection-item">
      <a href="" class="secondary-content">
        <i *ngIf="editState == false" (click)="editCurso($event, curso)"  class="material-icons">mode_edit</i>
        <i *ngIf="editState && cursoToEdit.id == curso.id" (click)="clearState()"  class="material-icons">close</i>
      </a>
      <h5>
        <strong>{{ curso.name }}</strong>
      </h5>
      <br>
      <blockquote>{{ curso.description }}</blockquote>
      <br>
      <span class="my_tag amber"><strong>Price: </strong>{{ curso.price | currency:'EUR':code:'1.2-2' }}</span>
      <span class="my_tag amber"><strong>Language: </strong>{{ curso.language }}</span>
      <span class="my_tag amber"><strong>Former: </strong>{{ curso.former }}</span>
      <span class="my_tag amber"><strong>Technology: </strong>{{ curso.technology }}</span>

      <hr>

      <div class="container-updateCurso">
       <!-- Todo Form -->
      </div>
    </li>
  </ul>
</div>

<!-- novo template para mostrar -->
<ng-template #noCursos>
  <hr>
  <h5>kein Kurs</h5>
</ng-template>
