<div class="card">
  <div class="card-content">
    <span class="card-title">Neu Kurs</span>
    <form (ngSubmit)="onGuardar(formNew)" #formNew='ngForm' class="col s6">

      <div class="row">

        <div class="input-field col s6">
          <input [(ngModel)]="curso.name" #name="ngModel" type="text" name="name" id="name" placeholder="Name von Kurs">
          <label>Name</label>
        </div>

        <div class="input-field col s6">
            <input [(ngModel)]="curso.description" #description="ngModel" type="text" name="description" id="description" placeholder="Description von Kurs">
            <label>Description</label>
        </div>

        <div class="input-field col s6">
            <input [(ngModel)]="curso.former" #former="ngModel" type="text" name="former" id="former" placeholder="Former von Kurs">
            <label>Former</label>
        </div>

        <div class="input-field col s6">
            <input [(ngModel)]="curso.price" #price="ngModel" type="text" name="price" id="price" placeholder="Price von Kurs">
            <label>Price</label>
        </div>

        <div class="input-field col s6">
            <input [(ngModel)]="curso.language" #language="ngModel" type="text" name="language" id="language" placeholder="Language">
            <label>Language</label>
        </div>

        <div class="input-field col s6">
            <input [(ngModel)]="curso.technology" #technology="ngModel" type="text" name="technology" id="technology" placeholder="Technology von Kurs">
            <label>Technology</label>
        </div>
        <button type="submit" class="btn waves-effect waves-light orange right">
          Save
          <i class="material-icons">add_circle</i>
        </button>
      </div>

    </form>
  </div>
</div>
