<div class="card">
  <a routerLink="#" class="secondary-content">
    <span *ngIf="newState == false" (click)="newCurso()" class="txt">Neu Kurs</span><i *ngIf="newState == false" (click)="newCurso()" class="material-icons">add</i>
    <span *ngIf="newState == true" (click)="clearState()" class="txt">Close</span><i *ngIf="newState == true" (click)="clearState()"  class="material-icons">close</i>
  </a>
  <div class="card-content">
    <div *ngIf="newState == true">

    <form [formGroup]="rForm" (ngSubmit)="onGuardar()" class="col s12">

      <div class="row">

        <br>

        <div class="input-field col s12">
          <input type="text" formControlName="name" placeholder="Name von Kurs">
          <label class="active">Name</label>
        </div>

        <div class="input-field col s12">
            <textarea  formControlName="description" class="materialize-textarea" placeholder="Description von Kurs"></textarea>
            <label class="active">Description</label>
        </div>

        <div class="input-field col s12">
            <input type="text" formControlName="former" placeholder="Former von Kurs">
            <label class="active">Former</label>
        </div>

        <div class="input-field col s12">
            <input type="text" formControlName="price" placeholder="Price von Kurs">
            <label class="active">Price</label>
        </div>

        <div class="input-field col s12">
            <input type="text" formControlName="language" placeholder="Language">
            <label class="active">Language</label>
        </div>

        <div class="input-field col s12">
            <input type="text" formControlName="technology" placeholder="Technology von Kurs">
            <label class="active">Technology</label>
        </div>

        <button type="submit" class="btn waves-effect waves-light orange right">Save</button>
      </div>

    </form>
  </div>
  </div>
</div>
